body {
	text-align: center;
	background: #3f3f3f;
	color: white;
	font-family: 'Slabo 27px', sans-serif;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
}

#title {
	color: white;
	padding: 8px;
	text-align: center;
	margin: auto;
}

textarea {
	font-family: 'Slabo 27px', sans-serif;
	overflow: scroll;
	resize: none;
	padding: 12px;
	font-size: 12px;
}

#toast {
    display: none;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

primary{opacity:1;}
secondary{opacity:0.7;}
disabled{opacity:0.5;}

button {
	font-family: 'Slabo 27px', sans-serif;
	margin: 20px auto 20px auto;
	display: block;
	box-shadow: 0px 2px 4px black;
	font-size: 13px;
}

div#heading {
	width: 100%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	border: none;
	height: 60px;
	box-shadow: 0px 5px 30px black;
	background: #FF5722;
	position: fixed;
	z-index: 1;
}

div#mainContent{
	left: 50%;
	margin-top: 84px;
}

div#outputContainer {
	left: 50%;
	margin: 16px;
}

div#inputContainer {
	left: 50%;
	margin: 16px;
}

button#builderize {
}






